#img-exercise1 {
  max-width: 250px;
}

.img-exercise2 {
  width: 300px;
}

.input-exercise2 {
  width: 293px;
}

.paragraph-return {
  background-color: coral;
}

#button-exercise1 {
  border: none;
}
